.cell {
    display: block;
    text-align: center;
    padding-top: 1em;
}

.min {
    ::ng-deep .number-wrapper {
        padding-right: 3em;
        .content {
            background: rgba(0, 128, 0, 0.2);
            color: black;
            font-weight: bold;
            width: 6em;
            height: 2em;
            padding-top: 0.4em;
        }
    }
}

.mid {
    ::ng-deep .number-wrapper {
        padding-right: 3em;
        .content {
            background: rgba(255, 165, 0, 0.2);
            color: black;
            font-weight: bold;
            width: 6em;
            height: 2em;
            padding-top: 0.4em;
        }
    }
}

.max {
    ::ng-deep .number-wrapper {
        padding-right: 3em;
        .content {
            background: rgba(139, 0, 0, 0.2);
            color: black;
            font-weight: bold;
            width: 6em;
            height: 2em;
            padding-top: 0.4em;
        }
    }
}
