<div class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header accent p-24">
        <h2>Units status</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">
            
            <mat-tab label="P1">
                <div class="p-24">
                    <unit-status unitId="P1"></unit-status>
                </div>
            </mat-tab>

            <mat-tab label="P2">
                <div class="p-24">
                    <unit-status unitId="P2"></unit-status>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
