<div class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="column" fxLayoutAlign="center center"
    fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    <div class="logo mb-24 mb-md-0"
    fxLayout="row" fxLayoutAlign="start center"><span class="mat-title">רשימת מטופלים</span>   </div>
            <!-- <div class="example-button-row appButton">
                <button mat-stroked-button color="accent" style="color:white" (click)="openDialog()" >המלצות</button>
            </div> -->
            <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="openDialog()">
                <span>הצגת שיבוץ מומלץ</span>
            </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-table *ngIf="dataSource" #table [dataSource]="dataSource">

            <ng-container matColumnDef="selected">
                <mat-header-cell *matHeaderCellDef fxFlex="128px">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="selectAll(dataSource.data)"
                                  [checked]="allSelected">
                    </mat-checkbox>
                    </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="changeSelection($event,row)"
                                  [checked]="row.selected">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef fxFlex="128px">מס' מטופל</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px"> {{row.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="gender">
                <mat-header-cell *matHeaderCellDef >מגדר</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.gender === 'female' ? 'נקבה' : 'זכר'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="previousReleasingDepartment">
                <mat-header-cell *matHeaderCellDef>מחלקה באשפוז הקודם</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.previousReleasingDepartment === 'A' ? 'פנימית א' : row.previousReleasingDepartment === 'B' ? 'פנימית ב' :  row.previousReleasingDepartment === 'C' ? 'פנימית ג' : row.previousReleasingDepartment === 'D' ? 'פנימית ד' : row.previousReleasingDepartment === 'E' ? 'פנימית ה' : row.previousReleasingDepartment === 'H' ? 'פנימית ח' : ''}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalTimeInMelrad">
                <mat-header-cell *matHeaderCellDef>זמן שהיה במלרד</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.totalTimeInMelrad}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="waitingTime">
                <mat-header-cell *matHeaderCellDef>זמן המתנה מחתימה</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.waitingTime}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="givenArtificialRespiration">
                <mat-header-cell *matHeaderCellDef>מונשם</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.givenArtificialRespiration ? 'כן' : 'לא'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nursingComplexityIndependentPatient">
                <mat-header-cell *matHeaderCellDef>עצמאי/סיעודי</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nursingComplexityIndependentPatient ? 'עצמאי' : 'סיעודי'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="medicalComplexityMonitor">
                <mat-header-cell *matHeaderCellDef>מוניטור</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.medicalComplexityMonitor ? 'כן' : 'לא'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="medicalComplexityOxygen">
                <mat-header-cell *matHeaderCellDef>חמצן</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.medicalComplexityOxygen ? 'כן' : 'לא'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="isolationType">
                <mat-header-cell *matHeaderCellDef>סוג בידוד</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.isolationType}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="neutropeticPatient">
                <mat-header-cell *matHeaderCellDef>נויטרופני</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.neutropeticPatient ? 'כן' : 'לא'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef>שיבוץ</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.department === 'A' ? 'פנימית א' : row.department === 'B' ? 'פנימית ב' :  row.department === 'C' ? 'פנימית ג' : row.department === 'D' ? 'פנימית ד' : row.department === 'E' ? 'פנימית ה' : row.department === 'H' ? 'פנימית ח' : ''}}</mat-cell>
            </ng-container>

            <!-- Modified Column -->
            <!--<ng-container matColumnDef="admission">
                <mat-header-cell *matHeaderCellDef>Admission</mat-header-cell>
                <mat-cell *matCellDef="let row" >{{row.admission | date:'dd/MM/yyyy HH:mm'}}</mat-cell>
            </ng-container>-->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     [ngClass]="{'selected' : row == selected}"
                     matRipple
            >
            </mat-row>
        </mat-table>

    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>

</div>
