<div>
    <div class="top-part">
        <mat-table *ngIf="departments$ | async as departments" #table [dataSource]="departments">
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef fxFlex="128px" class="cell"></mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px"> {{row.category}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="A">
                <mat-header-cell *matHeaderCellDef fxFlex="128px" class="cell">פנימית א</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px" class="cell"
                          [ngClass]="{'max': (row.A.used / row.A.total) * 100 >= 100,
                                     'mid': (row.A.used / row.A.total) * 100 >= 50 && (row.A.used / row.A.total) * 100 < 100,
                                     'min': (row.A.used / row.A.total) * 100 < 50}">
                    <div *ngIf="row.A.showPercent">{{row.A.used}}/{{row.A.total}}</div>
                    <div *ngIf="!row.A.showPercent">{{row.A.used}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="B">
                <mat-header-cell *matHeaderCellDef fxFlex="128px" class="cell">פנימית ב</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px" class="cell"
                          [ngClass]="{'max': (row.B.used / row.B.total) * 100 >= 100,
                                     'mid': (row.B.used / row.B.total) * 100 >= 50 && (row.B.used / row.B.total) * 100 < 100,
                                     'min': (row.B.used / row.B.total) * 100 < 50}">
                    <div *ngIf="row.B.showPercent">{{row.B.used}}/{{row.B.total}}</div>
                    <div *ngIf="!row.B.showPercent">{{row.B.used}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="C">
                <mat-header-cell *matHeaderCellDef fxFlex="128px" class="cell">פנימית ג</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px" class="cell"
                          [ngClass]="{'max': (row.C.used / row.C.total) * 100 >= 100,
                                     'mid': (row.C.used / row.C.total) * 100 >= 50 && (row.C.used / row.C.total) * 100 < 100,
                                     'min': (row.C.used / row.C.total) * 100 < 50}">
                    <div *ngIf="row.C.showPercent">{{row.C.used}}/{{row.C.total}}</div>
                    <div *ngIf="!row.C.showPercent">{{row.C.used}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="D">
                <mat-header-cell *matHeaderCellDef fxFlex="128px" class="cell">פנימית ד</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px" class="cell"
                          [ngClass]="{'max': (row.D.used / row.D.total) * 100 >= 100,
                                     'mid': (row.D.used / row.D.total) * 100 >= 50 && (row.D.used / row.D.total) * 100 < 100,
                                     'min': (row.D.used / row.D.total) * 100 < 50}">
                    <div *ngIf="row.D.showPercent">{{row.D.used}}/{{row.D.total}}</div>
                    <div *ngIf="!row.D.showPercent">{{row.D.used}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="E">
                <mat-header-cell *matHeaderCellDef fxFlex="128px" class="cell">פנימית ה</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px" class="cell"
                          [ngClass]="{'max': (row.E.used / row.E.total) * 100 >= 100,
                                     'mid': (row.E.used / row.E.total) * 100 >= 50 && (row.E.used / row.E.total) * 100 < 100,
                                     'min': (row.E.used / row.E.total) * 100 < 50}">
                    <div *ngIf="row.E.showPercent">{{row.E.used}}/{{row.E.total}}</div>
                    <div *ngIf="!row.E.showPercent">{{row.E.used}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="H">
                <mat-header-cell *matHeaderCellDef fxFlex="128px" class="cell">פנימית ח</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="128px" class="cell"
                          [ngClass]="{'max': (row.H.used / row.H.total) * 100 >= 100,
                                     'mid': (row.H.used / row.H.total) * 100 >= 50 && (row.H.used / row.H.total) * 100 < 100,
                                     'min': (row.H.used / row.H.total) * 100 < 50}">
                    <div *ngIf="row.H.showPercent">{{row.H.used}}/{{row.H.total}}</div>
                    <div *ngIf="!row.H.showPercent">{{row.H.used}}</div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedDepsColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedDepsColumns;"
                     [ngClass]="{'selected' : row == selected}"
                     matRipple>
            </mat-row>
        </mat-table>
    </div>
    <div class="table">

    </div>
</div>